@page
@model AdminLoginModel
@{
}

<link rel="stylesheet" href="~/site.css" />

<div style="display:flex">
    <form method="post">
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" placeholder="Password" />
        <input type="submit"/>
    </form>
</div>