@page
@model StatementApplication.Pages.EmployeeLoginModel
@{
}
<link rel="stylesheet" href="~/site.css" />
<div>
    <form method="post">
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" value="Password" />
        <input type="submit" />
    </form>
</div>