@page
@model StatementApplication.Pages.RegisterModel

<link rel="stylesheet" href="~/site.css" />


<form method="post">
    
    <input type="email" name="Email" placeholder="Email"/>

    <input type="text" name="Name" placeholder="Full Name"/>

    <input type="password" name="Password" placeholder="Password"/>
    
    <input type="submit">


</form>
